// src/styles/mixins.scss

// src/styles/mixins.scss

@mixin respond-to($breakpoint) {
  @if $breakpoint == xs {
    @media (max-width: $breakpoint-xs) { @content; }
  } @else if $breakpoint == sm {
    @media (max-width: $breakpoint-sm) { @content; }
  } @else if $breakpoint == md {
    @media (max-width: $breakpoint-md) { @content; }
  } @else if $breakpoint == lg {
    @media (max-width: $breakpoint-lg) { @content; }
  } @else if $breakpoint == xl {
    @media (max-width: $breakpoint-xl) { @content; }
  }
}

// src/styles/mixins.scss

@mixin typography-h2 {
  font-size: 2.4rem; // Ajuste conforme necessário
  color: $primary-text-color;
  font-family: $font-family;
  margin-bottom: $spacing-small;
}

// src/styles/mixins.scss

@mixin typography-span {
  font-size: $font-size-span;
  line-height: 1.5rem;
  color: $secondary-text-color;
  font-family: $font-family;
}

// src/styles/mixins.scss

@mixin typography-h3 {
  font-size: $font-size-h3;
  color: $primary-text-color;
  font-weight: 600;
  font-family: $font-family;
}

// src/styles/mixins.scss

@mixin typography-p {
  font-size: $font-size-p;
  line-height: 1.5rem;
  color: $secondary-text-color;
  font-family: $font-family;
}


// Outros mixins, como typography-h3, typography-p, etc.


@mixin button-style($bg-color, $hover-color) {
  background-color: $bg-color;
  color: $foreground-color;
  padding: 0.8rem 2.5rem;
  border: none;
  border-radius: 3rem;
  font-weight: bold;
  cursor: pointer;
  transition: all 0.3s ease;

  &:hover {
    background-color: $hover-color;
    transform: scale(1.05);
  }

  &:active {
    transform: scale(0.98);
  }
}

.my-class {
  font-size: 1.2rem;

  @include respond-to(sm) {
    font-size: 1rem;
  }

  @include respond-to(xs) {
    font-size: 0.8rem;
  }
}

