// src/styles/variables.scss
$background-color: #ffffff;
$foreground-color: #252430;
$primary-color: #0074bc;
$secondary-color: #005fa3;
$error-color: #ff0000;
$border-color: #e0e0e0; // ou qualquer cor desejada

$font-family: 'DM Sans', sans-serif;
$spacing-unit: 1rem;
$spacing-small: 0.5rem;
$spacing-medium: 1rem;
$spacing-large: 2rem;

$breakpoint-xs: 480px;
$breakpoint-sm: 768px;
$breakpoint-md: 1024px;
$breakpoint-lg: 1280px;
$breakpoint-xl: 1440px;
