// src/components/Conteudo/styles.module.scss

@import '../../styles/variables';
@import '../../styles/mixins';

.servicesSection {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: $spacing-large;
  gap: $spacing-small;

  h2 {
    @include typography-h2;
    font-size: 2.4rem;
    color: $primary-text-color; // Aplica a cor do texto principal
    font-family: $font-family;
    margin-bottom: $spacing-small;
  }

  span {
    @include typography-span;
    max-width: 800px;
    font-size: 1.1rem;
    line-height: 1.5rem;
    color: $secondary-text-color; // Aplica a cor do texto secundário
    padding-top: $spacing-small;
    max-width: 800px;
    margin: 0 auto;
    font-family: $font-family;
  }
}

// src/components/Conteudo/styles.module.scss

.iconSection {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: $spacing-large; // Aumenta o espaçamento entre os ícones
  padding: $spacing-large 0;

  .iconItem {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: 100%;
    max-width: 220px; // Aumenta a largura máxima dos ícones
    gap: $spacing-medium; // Espaçamento interno ajustado

    h3 {
      @include typography-h3;
    }

    p {
      @include typography-p;
    }

    svg {
      margin-bottom: $spacing-small;
      width: 48px;
      height: 48px;
    }
  }
}

// Adiciona responsividade para garantir um layout adequado em diferentes tamanhos de tela
@media (max-width: $breakpoint-md) {
  .iconSection {
    gap: $spacing-medium; // Reduz o espaço em telas menores
  }

  .iconItem {
    max-width: 180px; // Limita a largura dos ícones em dispositivos menores
  }
}
